<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XGBoost | Explained</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Michroma:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher:wght@400&display=swap" />
    <link rel="stylesheet" href="static/css/home.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="title">
        <div class="vector-11"></div>
        <div class="lqvkdkdwapvj-copy"></div>
      </div>
      <div class="improves-performance">
        <span class="improves-performance-1">
          HOW XGBoost IMPROVES PERFORMANCE
        </span>
        <span class="simplified-architects">
          Machine learning simplified for architects
        </span>
        <div class="vector"></div>
      </div>
      
      <div class="rectangle">
        <div class="flex-row-db">
          <div class="xgboost">
            <span class="x">X</span><span class="gb">GB</span
            ><span class="x-2">OOST </span>
          </div>
          <div class="arrows">
            <div class="vector-3"></div>
            <div class="vector-4"></div>
        </div>
        </div>
        <div class="flex-row-da">
          <span class="gradient">GRADIENT</span
          ><span class="boosting">BOOSTING</span>
        </div>
      </div>
      <div class="rectangle-12">
        <div>DECISION TREES</div>
        <img src="static/images/arrow.png" alt="Arrows" class="arrows-image" />
        <div>BAGGING</div>
        <img src="static/images/arrow.png" alt="Arrows" class="arrows-image" />
        <div>RANDOM FOREST</div>
        <img src="static/images/arrow.png" alt="Arrows" class="arrows-image" />
        <div>BOOSTING</div>
        <img src="static/images/arrow.png" alt="Arrows" class="arrows-image" />
        <div>GRADIENT BOOSTING</div>
        <img src="static/images/arrow.png" alt="Arrows" class="arrows-image" />
        <div>XGBoost</div>
      </div>
      <div class="frame">
        <span class="how-decision-trees-work">HOW DECISION TREES WORK</span>
        <div class="crosslink"
        onclick="window.location.href='https:\/\/misraserenayy.github.io/random_forest-AI_HACKATHON/'">Explained here</div>
        <div class="decision-tree-billa"></div>
      </div>
      <div class="frame-5">
        <span class="data-types-you-need">DATA TYPES YOU NEED </span>
        <div class="datatypes">
            <div class="tab">
              <div class="td">
              <img src="/static/images/data-numbers-background.jpg" 
                   onclick="window.location.href='/page2'"></img></div>
                <div class="caption" onclick="window.location.href='/page2'">
                  <span class="tabular-data">TABULAR DATA</span>
                  <span class="txt">(REGRESSION)</span>
                </div>
            </div>
            <div class="tab">
              <div class="td">
              <img src="/static/images/81c2199104deb406f0bd7c1f0b11df1f0cab5656.png" 
              onclick="window.location.href='/predictpage'"></img></div>
                   <div class="caption" onclick="window.location.href='/predictpage'">
                    <span class="images">IMAGES</span>
                    <span class="txt">(CLASSIFICATION)</span>
                  </div>
            </div>
      </div>
          
      </div>
      <div class="frame-9">
        <span class="xgboost-usage">WHERE YOU CAN USE XGBoost</span>
        <div class="flex-row-e">
          <div class="rectangle-a">
            <div class="vector-e"></div>
            <span class="material-performance">Material Performance</span>
          </div>
          <div class="rectangle-a">
            <div class="dollar">$</div>
            <span class="cost-estimation">Cost Estimation</span>
          </div>
          <div class="rectangle-a">
            <div class="group-f"></div>
            <span class="schedule-prediction">Schedule Prediction</span>
          </div>
          <div class="rectangle-a">
            <div class="group-10"></div>
            <span class="traffic-flow-optimization">
              Traffic Flow Optimization 
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
